*{
box-sizing:border-box;
}

body{   
    margin:0;
    width:100vw;
    height:100vh;
    background:#111;
    color:white;
    overflow:hidden;
    font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    sans-serif;
}

#settingScreen{
    width:100vw;
    height:100vh;
    position:relative;
}
#settingBoard{
    position:absolute;
    width:100%;
    height:100%;
}
#settingCenter{
    position:absolute;
    top:50%;
    left:50%;
    transform:
    translate(-50%,-50%)
    rotate(0deg);
    text-align:center;
}
.settingSeat{
    position:absolute;
    width:220px;
    height:130px;
    background:#222;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:10px;
}
.settingSeat input{
    width:150px;
    font-size:1.5rem;
    text-align:center;
}
/* 座席位置 */
    .setting-top{
        top:1vh;
        left:50%;
        transform:
        translateX(-50%)
        rotate(180deg);
    }
    .setting-right{
        right:4vh;
        top:50%;
        transform:
        translateY(-50%)
        rotate(-90deg);
    }
    .setting-bottom{
        bottom:1vh;
        left:50%;
        transform:
        translateX(-50%);
    }
    .setting-left{
        left:4vh;
        top:50%;
        transform:
        translateY(-50%)
        rotate(90deg);
    }
    .setting-topRight{
        top:15%;
        right:18%;
        transform:
        rotate(-135deg);
    }
    .setting-topLeft{
        top:15%;
        left:18%;
        transform:
        rotate(135deg);
    }
    .setting-bottomRight{
        bottom:15%;
        right:18%;
        transform:
        rotate(-45deg);
    }
    .setting-bottomLeft{
        bottom:15%;
        left:18%;
        transform:
        rotate(45deg);
    }


#app{
    width:100%;
    height:100%;
    position:relative;
}
#timerScreen{
    display:none;
    width:100vw;
    height:100vh;
    position:relative;
}

/* 中央 */
#center{
    position:absolute;
    top:50%;
    left:50%;
    transform:
    translate(-50%,-50%)
    rotate(0deg);
    text-align:center;
}
#centerText{
    font-size:3rem;
    font-weight:bold;
    letter-spacing:3px;
    color:white;
    text-align:center;
    transition:all .25s;
}
#centerTimer{
    font-size:4.5rem;
    font-weight:bold;
}
#pauseButton{
    margin-top:20px;
    font-size:1.5rem;
    padding:10px 50px;
}

/* 座席共通 */
.seat{
    position:absolute;
    width:22vw;
    height:16vh;
    min-width:180px
    min-height:130px;
    max-width:240px;
    max-height:170px;
    background:#222;
    border-radius:25px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:10px;
    font-size:1.8rem;
    transition:
    transform 0.2s,
    background 0.2s;
}
.time{
    font-size:3rem;
    font-weight:bold;
}
button{
    font-size:1.3rem;
    padding:10px 40px;
    border-radius:15px;
    background:#333;
    color:white;
    border:none;
}
.finishButton{
    background:#444;
    color:#888;
    opacity:.4;
    transition:.2s;
}
.finishButton:disabled{
    opacity:0.3;
}
.finishButton.active{
    background:#00bfff;
    color:white;
    opacity:1;
    box-shadow:0 0 15px #00bfff;
    transform:scale(1.08);
}
.currentTurn{
    transform:scale(1.1);
    background:#0044aa !important;
    border:3px solid #66ccff;
    box-shadow:
    0 0 20px rgba(0,150,255,0.8);
    z-index:10;
}
.eliminated{
    background:#8b0000 !important;
    border:3px solid #ff4444;
    color:white;
    box-shadow:0 0 15px rgba(255,0,0,.5);
    transform:scale(.95);
    opacity:.8;
}

/* 座席位置 */
    .seat-top{
        top:3vh;
        left:50%;
        transform:
            translateX(-50%)
            rotate(180deg);
    }
    .seat-right{
        right:4vh;
        top:50%;
        transform:
        translateY(-50%)
        rotate(-90deg);
    }
    .seat-bottom{
        bottom:3vh;
        left:50%;
        transform:
        translateX(-50%);
    }
    .seat-left{
        left:4vh;
        top:50%;
        transform:
        translateY(-50%)
        rotate(90deg);
    }
    .seat-topRight{
        top:15%;
        right:18%;
        transform:
        rotate(-135deg);
    }
    .seat-topLeft{
        top:15%;
        left:18%;
        transform:
        rotate(135deg);
    }
    .seat-bottomRight{
        bottom:15%;
        right:18%;
        transform:
        rotate(-45deg);
    }
    .seat-bottomLeft{
        bottom:15%;
        left:18%;
        transform:
        rotate(45deg);
    }
.timeOver{
    animation:
    blink 0.5s infinite;
}
    @keyframes blink{
        0%{
            background:#aa0000;
        }
        50%{
            background:#ff0000;
        }
        100%{
            background:#aa0000;
        }
    }
/* 残り時間警告 */
.warning{
    color:#ffaa00;
}
.danger{
    color:red;
    animation:
    timerBlink 0.5s infinite;
}
    @keyframes timerBlink{
        0%{
            opacity:1;
        }
      　50%{
            opacity:0.2;
        }
        100%{
            opacity:1;
        }
    }
.turnAnimation{
    animation:turnPop .3s;
}
    @keyframes turnPop{
        0%{
            transform:scale(.8);
            opacity:0;
        }
        70%{
            transform:scale(1.1);
        }
        100%{
            transform:scale(1);
            opacity:1;
        }
    }
.timeOut.seatContent{
    background:#ff0000 !important;
    color:white;
    animation:
        timeOutFlash .2s 4,
        shake .5s;
}
    @keyframes timeOutFlash{
        0%{
            background:#ff0000;
        }
        50%{
            background:white;
        }
        100%{
            background:#ff0000;
        }
    }
    @keyframes shake{
        0%{
            transform:translateX(0);
        }
        20%{
            transform:translateX(-8px);
        }
        40%{
            transform:translateX(8px);
        }
        60%{
            transform:translateX(-8px);
        }
        80%{
            transform:translateX(8px);
        }
        100%{
            transform:translateX(0);
        }
    }
@media(max-height:800px){
    .seat{
        height:14vh;
    }
    .time{
        font-size:2.5rem;
    }
    button{
        padding:6px 25px;
    }
}
